---
// import { Image } from 'astro:assets';
// const base_url = import.meta.env.SITE;
// const img_home_url = base_url + "/home.png";

const { homebutton_hidden } = Astro.props;
---

<style>
    .home img {
        transition: 0.1s ease-out;
        height: 50px;
        margin: auto;
        transform: scale(1);
        z-index: 100;
    }
    .home img:hover {
        transform: scale(1.2);
    }
</style>
{
    !homebutton_hidden && (
        <p style="text-align: center;">
            <a href="/" class="home">
                <img src="/materials/home.png" alt="home" />
            </a>
        </p>
    )
}
