---
import './main.css';

// import { Image } from 'astro:assets';
// const base_url = import.meta.env.SITE;
// const img_home_url = base_url + "/home.png";

const { homebutton_hidden } = Astro.props;
---

{!homebutton_hidden &&
    <p style="text-align: center;">
        <a href="/" class="home" ><img src="/materials/home.png" alt="home"/></a>
    </p>
}
