---
import './main.css';

// import { Image } from 'astro:assets';
// const base_url = import.meta.env.SITE;
// const img_home_url = base_url + "/home.png";

const { homebutton_hidden } = Astro.props;
---
{!homebutton_hidden &&
    <a href="/" class="home" ><img src="/home.png" alt="home"/></a>
}
