---
const links = [
    { src: "このサイトについて", link: "about" },
    { src: "unnamedworksについて", link: "unnamedworks" },
];
---

<style>
    div {
        width: auto;
        text-align: left;
        display: inline-block;
        margin: 0;
    }
    ul {
        padding: 0px;
        margin: 0px;
    }
    ul li:before {
        content: "";
        position: absolute;
        top: 0px;
        left: 0px;
    }

    li {
        list-style-type: none;
        position: relative;
        padding-left: 0px;
        line-height: 1.4;
    }
</style>
<div>
    <ul>
        {
            links.map((item) => (
                <li>
                    <a href={item.link}>{item.src}</a>
                </li>
            ))
        }
    </ul>
</div>