---
import './main.css';
import { Image } from 'astro:assets';
import img_about from './icons/about.png';
import img_blog from './icons/blog.png';

const links = [
    {   src: img_about,
        link: "about"},
    {   src: img_blog,
        link: "blog"},
]

---
<p class="menu">
    {links.map((item) =>
        <a href={item.link}>
            <Image src={item.src} alt="" height="50"/>
        </a>
    )}
</p>
