@charset "utf-8";
/* a:hover {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

a,a:visited {
    text-decoration: none;
    color: #ccc;
    font-weight: bold;
    transform: scale(1.0);
} */

.social img {
    transform: scale(1.0);
    transition: .2s ease-in-out;
    /* height: 50px;
    width: auto; */
}
.social img:hover {
    transform: scale(1.2);
}