html {
    background-color: #fff;
    font-size: 15px;
}
  
body {
    margin: 0px;
    line-height: 1.2;
    color: #222;
}

.contents {
    text-align: center;
    margin: 0px;
}

.front img {
    max-width: 95%;
    height: auto;
}

a,a:visited {
    text-decoration: none;
    color: #e88;
    transition : all 0.2s ease 0s;
    padding:1px;
    font-weight: bold;
  }
  
a:hover {
    color: #f00;
}