@font-face {
    font-family: 'shape01_cloud';
    src: url('//2ttf.com/webfont/1PT4DNRM5kg/webfont.ttf') format('truetype');
    font-display: block;
}

@font-face {
    font-family: "shape01";
    src: url('/materials/shape01.woff2');
    font-display: swap;
}

.shape01 {
    font-family: "shape01", "shape01_cloud";
}