---
import BaseLayout from "@/layouts/PortfolioLayout.astro";
const pageTitle = "404 Not Found.";
const url = Astro.url.pathname;
const card_name = "/cards/main.png";
---

<BaseLayout pageTitle={pageTitle} , page_url={url} , card_file={card_name}>
    <div style="text-align: center;">
        <img
            src="/materials/404.png"
            alt="404 not found..."
            width="85%"
            height="auto"
        />
    </div>
</BaseLayout>
