---
import BaseLayout from '../layouts/PortfolioLayout.astro';
const pageTitle = "ㅤ - about";
const url="/about"

---
<BaseLayout pageTitle={pageTitle}, page_url={url}>
    <p>突然Webサイトを作りたくなって生まれました。<p/>
    <p>今後コンテンツを増やしていけたらいいな...と思っています。</p>
    <p>
        <br><a href="https://astro.build/">astro</a>でプログラミングされました。</br>
        <br><a href="https://lolipop.jp/">ロリポップレンタルサーバ</a>のエコノミープランで運用中です。</br>
        <br><a href="https://github.com/nkte8/portfolio">ソースコード</a>を公開しています。</br>  
    </p>
</BaseLayout>