---
import '@/styles/shape01.css';

import BaseLayout from '@/layouts/PortfolioLayout.astro';
const pageTitle = "about";
const url = Astro.url.pathname;

import img_about from './images/computing.png';
const card_name = "/cards/main.png"

import Passedyears from '@/components/getpassedyear/main.tsx'
---
<style>
    .contents-big-text{
        font-size: 9vmin;
        
    }
    .contents-small-text {
        font-size: 4vmin;
        position: relative;
        left: 9.5%;
    }
    .contents-text {
        top: 25px;
        right: 6%;
        font-size: 4.8vmin;
        text-align: left;
        z-index: 10;
        margin-left: 35%;
        position: relative;
        width: 67%;
    }
    .contents-image {
        bottom: 10%;
        left: 0;
        margin-left: -30px;
        margin-top: -30%;
        width: 100%;
        max-width:650px;
        z-index: 0;
    }
    .contents-text-block {
        background-color: #fff;
    }

</style>
<BaseLayout pageTitle={pageTitle}, page_url={url}, card_file={card_name}>
        <div class="contents-text">
            <div class="contents-big-text">
                <span class="contents-text-block">
                    名前がきまらず<br />
                    約<Passedyears client:load from="2020-11-18" />年経ちました。
                </span>
            </div>
            <p>
                <span class="contents-text-block">
                    どうぞよろしくおねがいします。<br />
                    メインコンテンツは<a href="https://unnamedworks.com/">こちら</a>です。
                </span>
            </p>
            <div class="contents-small-text">
                <p><span class="contents-text-block">
                    <a href="https://astro.build/">astro</a>でプログラミングされました。<br />
                    <a href="https://www.cloudflare.com/ja-jp/developer-platform/pages/">
                        Cloudflare Pages</a>でデプロイされました。<br />
                    <a href="https://github.com/nkte8/portfolio">ソースコード</a>を公開しています。<br />
                </span>
                </p>
            </div>
        </div>
        <img src={img_about.src} alt="" class="contents-image" />

</BaseLayout>