---
import "@/styles/shape02.css";

import BaseLayout from "@/layouts/PortfolioLayout.astro";
const pageTitle = "about";
const url = Astro.url.pathname;

const card_name = "/cards/etc.png";
import { Picture } from "astro:assets";
import img_site from "@/images/computing.png";
---

<style>
    div {
        /* 折り返し対応 */
        overflow-wrap: anywhere;
        word-break: keep-all;
    }
    @media (max-width: 480px) {
        div {
            line-height: 1.2;
            margin: auto;
            padding-bottom: 12px;
        }
        div.parent_textarea {
            position: unset;
            width: 95%;
            height: auto;
        }
        div.title {
            position: unset;
            font-size: 13.5vw;
        }
        div.description {
            position: unset;
            font-size: 9vw;
        }
        div.detail {
            position: unset;
            font-size: 6.5vw;
            width: 100%;
        }
        div.picture {
            position: unset;
            width: 100%;
            max-width: 715px;
        }
        div.parent {
            aspect-ratio: auto;
        }
    }
    .parent {
        position: relative;
        aspect-ratio: 11/9;
        height: auto;
    }
    .parent_textarea {
        position: absolute;
        top: 1%;
        left: 34%;
        text-align: left;
        width: 64%;
        height: 60%;
        z-index: 1;
    }
    .title {
        position: absolute;
        font-size: min(8.5vw, 95px);
        top: 30%;
    }
    .description {
        position: absolute;
        font-size: min(5.5vw, 60px);
        top: 50%;
        left: 5%;
    }
    .detail {
        position: absolute;
        font-size: min(3.3vw, 37px);
        top: 70%;
        left: 10%;
        width: 90%;
    }

    .parent_textarea {
        padding: 1%;
        line-height: 1.5em;
        z-index: 0;
    }
    .parent_textarea div::before {
        background-color: #fff;
        content: "";
        filter: blur(5px);
        border-radius: 30px;
        position: absolute;
        top: -5px;
        right: -5px;
        bottom: -5px;
        left: -5px;
        z-index: -1;
    }
    .picture {
        position: absolute;
        bottom: -5%;
        width: 65%;
        z-index: 0;
    }
    p {
        margin: 0;
        line-height: 1.2;
    }
</style>
<BaseLayout pageTitle={pageTitle} , page_url={url} , card_file={card_name}>
    <div class="parent shape02">
        <div class="picture"><Picture src={img_site} alt="about" /></div>
        <div class="parent_textarea">
            <div class="title">
                <a href="https://NllA.uk/">NllA.uk</a>
            </div>
            <div class="description">ー 自己紹介サイトです。</div>
            <div class="detail">
                <p>
                    <a href="https://astro.build/">Astro</a>でプログラミング<wbr
                    />されました。
                </p>
                <p>
                    <a
                        href="https://www.cloudflare.com/ja-jp/developer-platform/pages/"
                    >
                        Cloudflare Pages</a
                    >で<wbr />デプロイされました。
                </p>
                <p>
                    <a href="https://github.com/nkte8/portfolio">ソースコード</a
                    >を公開<wbr />しています。
                </p>
            </div>
        </div>
    </div>
</BaseLayout>
