---
import BaseLayout from '../layouts/PortfolioLayout.astro';
const pageTitle = "ㅤ - about";
const url="/about"

import img_about from '../images/computing.png';

---
<style>

    .big-text{
        font-size: 3.7vmin;
    }

    .text {
        text-shadow:
        1px 1px 1px #fff,
        -1px 1px 1px #fff,
        1px -1px 1px #fff,
        -1px -1px 1px #fff,
        2px 2px 1px #fff,
        -2px 2px 1px #fff,
        -2px -2px 1px #fff,
        2px -2px 1px #fff,
        3px 3px 1px #fff,
        -3px 3px 1px #fff,
        -3px -3px 1px #fff,
        3px -3px 1px #fff;

        position: absolute;
        top: 50px;
        right: 0;
        height: auto;
        width: 50%;
        min-width: 220px;
        font-size: 2.5vmin;
        text-align: left;
        z-index: 10;
    }
    .image {
        top: auto;
        left: 0;
        position: absolute;
        margin-left: -25px;
        width: 100%;
        max-width:600px;
        bottom: 13%;
        z-index: 0;
    }

</style>
<BaseLayout pageTitle={pageTitle}, page_url={url}>
        <img src={img_about.src} alt="" class="image" />
        <div class="text">
            <p><div class="big-text">突然Webサイトを<br />作りたくりました。</div><p/>
            <p>今後コンテンツを増やしていけたら<br />いいな...と思っています。</p>
            <p>
                <a href="https://astro.build/">astro</a>でプログラミングされました。<br />
                <a href="https://lolipop.jp/">ロリポップ</a>のエコノミープランです。<br />
                <a href="https://github.com/nkte8/portfolio">ソースコード</a>を公開しています。<br />
            </p>
        </div>
        

</BaseLayout>