---
import BaseLayout from "@/layouts/PortfolioLayout.astro";
const pageTitle = "ㅤ";
const url = Astro.url.pathname;
import Socialbutton from "@/components/socialbutton/main.astro";
import Menubutton from "@/components/menu/main.astro";

import { Randomimg } from "@/components/randomimg/main";
const homebutton_hidden = true;
const card_name = "/cards/main.png";

import "@/styles/shape02.css";
---

<style>
    .shape02 {
        font-size: 3vmin;
    }
    .img {
        width: 95%;
        margin:auto;
    }
    div {
        margin-bottom: 20px;
    }
</style>
<BaseLayout
    pageTitle={pageTitle}
    homebutton_hidden={homebutton_hidden}
    page_url={url}
    card_file={card_name}
>
    <div class="shape02">
        <div class="img"><Randomimg client:load /></div>
        <div><Menubutton /></div>
        <div><Socialbutton /></div>
    </div>
</BaseLayout>
