---
import "@/styles/shape02.css";

import BaseLayout from "@/layouts/PortfolioLayout.astro";
const pageTitle = "unnamedworks";
const url = Astro.url.pathname;

const card_name = "/cards/blog.png";
import { Picture } from "astro:assets";
import img_site from "./images/blog.png";
---

<style>
    .parent {
        position: relative;
    }
    .parent_textarea {
        position: absolute;
        text-align: left;
        top: 65%;
        left: 45%;
        width: 50%;
        height: 35%;
    }
    .title {
        position: absolute;
        font-size: 5vmin;
    }
    .description {
        position: absolute;
        font-size: 3vmin;
        top: 20%;
    }
    .detail {
        position: absolute;
        font-size: 2.2vmin;
        top: 33%;
        left: 10%;
    }
    .parent_textarea div {
        padding: 1%;
        line-height: 1.5em;
        z-index: 0;
    }
    .parent_textarea div::before {
        background-color: #fff;
        content: "";
        filter: blur(5px);
        border-radius: 30px;
        position: absolute;
        top: -5px;
        right: -5px;
        bottom: -5px;
        left: -5px;
        z-index: -1;
    }
    p {
        margin: 0;
    }
</style>
<BaseLayout pageTitle={pageTitle} , page_url={url} , card_file={card_name}>
    <div class="parent shape02">
        <div class="parent_textarea">
            <div class="title">
                <a href="https://unnamedworks.com/"> unnamedworks.com</a>
            </div>
            <div class="description">ー 趣味のブログです。</div>
            <div class="detail">
                <p>
                    <a href="https://astro.build/">
                        Astro</a
                    >でプログラミングされました。
                </p>
                <p>
                    <a
                        href="https://www.cloudflare.com/ja-jp/developer-platform/pages/"
                    >
                        Cloudflare Pages</a
                    >
                     でデプロイされました。
                </p>
                <p>
                    <a href="https://www.newt.so/">newt</a>で管理されています。
                </p>
                <p>
                    裏で<a href="https://aws.amazon.com/jp/">AWS</a>が動いています。
                </p>
                <p>
                    <a href="https://github.com/nkte8/unnamedworks">
                        ソースコード</a
                    >
                     を公開しています。
                </p>
            </div>
        </div>
        <div class="picture"><Picture src={img_site} alt="unnamedworks" /></div>
    </div>
</BaseLayout>
