---
// import { Image } from 'astro:assets';
import img_header from "./header.png";
import img_header_mini from "./header_mini.png";
---

<style is:global>
    @media (max-width: 480px) {
        .header img.normal {
            display: none;
        }
        .header img.mini {
            display: block;
        }
    }
    .header .mini {
        display: none;
    }

    .header {
        padding: 0;
        position: static;
        height: 20px;
    }

    .header img {
        width: 100%;
        position: static;
    }
</style>
<div class="header">
    <img class="normal" src={img_header.src} alt="" />
    <img class="mini" src={img_header_mini.src} alt="" />
</div>
