---
import './main.css';
import img_footer from './footer.png';

---
<p class="footer">
    <!-- Copyright © @Il_______l all rights received. -->
    <img src={img_footer.src} alt="this site is managed by @Il_______l">
</p>