.footer {
    margin: 25px 0px 0px 0px;
    text-align: center;
    line-height: 1.2;
    font-size: 12px;
    color: #999;
}

a,a:visited {
    /* text-decoration: none; */
    color: #999;
    transition : all 0.3s ease 0s;
    padding:1px;
  }
  
a:hover {
color: #ddd;
}