---
import Footer from '../components/footer/main.astro';
import Homebutton from '../components/homebutton/main.astro';
import Metadatas from '../components/Metadatas.astro';

const { pageTitle, homebutton_hidden, page_url, card_file} = Astro.props;
---

<html lang="ja">
  <Metadatas pageTitle={pageTitle}, page_url={page_url}, card_file={card_file} />
  <body>
    <slot name="header"/>
        <div class="contents-cover">
          <slot />
          <Homebutton homebutton_hidden={homebutton_hidden}/>
          <Footer />
        </div>
  </body>
</html>